:root {
  /* Colors */

  /* Primary */

  --Violet: hsl(257, 40%, 49%);
  --Soft-Magenta: hsl(300, 69%, 71%);

  /*HEADING*/
  /*Weight 400 600*/
  --Popins-font: "Poppins", sans-serif;

  /*BODY*/
  /*Weight 400*/
  --Open-Sans-font: "Open Sans", sans-serif;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*************************************************************************************************/

body {
  background-color: var(--Violet);
  color: #fff;
}

.grid-wrapper {
  --min: 35rem;
  
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
}

main > div {
  position: absolute;
  top: clamp(7.33rem, 13.8vw, 12rem);

  padding-inline: clamp(2rem, 3vw, 4rem);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: var(--Popins-font);
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  text-align: center; 

  margin-top: 4rem;

}

.description {
  font-family: var(--Open-Sans-font);
  font-size: clamp(1rem, 3vw, 1.2rem);
  text-align: center;

  margin-top: 1rem;
  margin-bottom: 1rem;
}

.button {
  width: clamp(6.5rem, 70vw, 12.3rem);
  height: clamp(2.5rem, 5vw, 3.4rem);
  border-radius: 2rem;
  border: 0;
  cursor: pointer;
  font-family: var(--Popins-font);
  background-color: #fff;
  color: var(--Violet);
  font-size: clamp(.8rem, 3vw, 1.1rem);

  margin-bottom: 4rem;
}

.button:hover {
  color: #fff;
  background-color: violet;
}

img[alt="background-mobile-image"] {
  width: 100%;
}

.logo {
  width: clamp(3rem, 40%, 13rem);
  position: absolute;
  top: clamp(1rem, 3.8vw, 4rem);

  margin-left: min(100% - 9rem, 5vw);
}

.social-network {
  display: flex;
  padding: 0;
  list-style-type: none;
  margin-bottom: 2.5rem;

  /* margin-top: 3rem; */
}

.social-network a {
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: clamp(25px, 5vw, 40px);
  height: clamp(25px, 5vw, 40px);
  text-decoration: none;
  margin-right: 1rem;
}

.social-network a:hover {
  border-color: violet;
  color: violet;
}

.social-network i {
  font-size: clamp(15px, 4vw, 20px);
}


@media (min-width: 1192px) {

  .illustration {
    margin-top: min(-8rem, 16vh);
    margin-left: min(4rem, 8vw);
  }

  h1, .description {
    text-align: left;
  }

  h1 {
    margin-top: min(2.5rem, 5vh);
    padding-inline: 4.5rem;

    margin-left: min(2.7rem, 4vw);
  }

  .description {
    margin-top: min(1.4rem, 2.8vh);
    padding-inline: .5rem;

    margin-left: 7rem;
    
  }

  button {
    align-self: stretch;
    margin-top: min(1.3rem, 2.6vh);
    margin-left: min(7.3rem, 14.6vw);
 }

 .social-network  {
  align-self: end;
 
  margin-top: 11.4rem;
  margin-right: 1.3rem;
 }

}